[submodule "ros_ws/src/odrive_ros2_control"]
	path = ros_ws/src/odrive_ros2_control
	url = git@github.com:aifarm-dev/odrive_ros2_control.git

[submodule "experiments/ros2_control_demos"]
        path = experiments/ros2_control_demos
        url = https://github.com/ros-controls/ros2_control_demos.git
